<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
        color: red;
        width: 50%;
        margin: auto;
        }
        h2{
        backgroung: green;
        color: red;
        <!--width: 50%;-->
        margin: auto;
        }

        div{
        color: green;
        width: 90%;
        margin: auto;
        }
    </style>
</head>
<body>
<h1>Hello Django Template!</h1>

<div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    lum in labore magni nesciunt nulla quae quasi qui quisquam sequi sunt tempora ullam, unde voluptatibus! Cum, fugit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deserunt dicta dolore, eligendi enim id in
    ipsa labore molestias neque nihil perferendis quia, repellendus sequi vitae voluptas. Doloremque ea eaque nulla
    numquam quas quia reprehenderit suscipit veritatis? Consectetur deserunt dolore doloremque eius, esse, ex fugiat il
    <h2> 2 + 2 = {{ four }}</h2>

    <a href="/main/">To Main page</a>
    <br/>
    <br/>
    <br/>

    <a href="/testref/" target="_blank">TEST REF</a>


</div>

<div>
    FIrst key is -- {{ key }}
</div>

</body>
</html>

